#Planned {
      height:50px;
      text-align:center;
      line-height:2.5;
      font-weight:bold;

      align-items: center;
      justify-content: center;
      background-color:skyblue;
      color: black;
      border-style: solid;
      border-color: black;
      border-width: thin;
  }

  #InProgress {
    height:50px;
    text-align:center;
    line-height:2.5;
    font-weight:bold;

    align-items: center;
    justify-content: center;
    background-color:yellow;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: thin;
  }
    #Delta {
    height:50px;
    text-align:center;
    line-height:2.5;
    font-weight:bold;

    align-items: center;
    justify-content: center;
    background-color:Silver;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: thin;
  }
  #UAT {
    height:50px;
    text-align:center;
    line-height:2.5;
    font-weight:bold;

    align-items: center;
    justify-content: center;
    background-color:Azure;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: thin;
  }
  #Hypercare {
    height:50px;
    text-align:center;
    line-height:2.5;
    font-weight:bold;

    align-items: center;
    justify-content: center;
    background-color:green;
    color: $ms-color-white;
    border-style: solid;
    border-color: black;
    border-width: thin;
  }